compile '/guide/' do
  filter :haml
end

ignore '*/_*'

compile '*' do
  if item.identifier == '/_common_links/'
    nil
  elsif item.binary?
    "#{item.identifier.chop}.#{item[:extension]}"
  else
    ext = item[:extension].nil? ? nil : item[:extension].split('.').last
    case ext
    when 'markdown', 'md'
      filter :erb unless item.attributes[:skip_erb]
      filter :algolia, preview: false unless ENV['NANOC_ENV'] == 'development' ||
        item.attributes[:no_index] || item.attributes[:redirect_to]
      filter :common_marker
      layout 'application'
    when 'scss'
      filter :sprockets, css_compressor: :scss
    when 'haml'
      filter :haml, format: :html5
      layout 'application'
    when 'xml'
      filter :erb
    when 'js', 'txt', 'json', 'css'
      filter :erb
      item.identifier.chop + '.' + ext
    else
      raise "Unknown filetype #{item[:extension]}"
    end
  end
end

route '*' do
  raise "Item without extension #{item.inspect}" if item[:extension].nil?

  if item.identifier == '/_common_links/'
    nil
  elsif item.binary?
    "#{item.identifier.chop}.#{item[:extension]}"
  else
    ext = item[:extension].nil? ? nil : item[:extension].split('.').last
    case ext
    when 'scss'
      item.identifier.chop + '.css'
    when 'js', 'txt', 'json', 'css', 'xml'
      item.identifier.chop + '.' + ext
    else
      item.identifier + 'index.html'
    end
  end
end

layout '/application/', :haml, format: :html5, encoding: 'utf-8'
layout '/sidebar/', :haml, encoding: 'utf-8'
layout '*', :erb
