compile '/guide/' do
  filter :haml
end

compile '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    ext = item[:extension].nil? ? nil : item[:extension].split('.').last
    case ext
    when 'markdown', 'md'
      filter :erb unless item.attributes[:skip_erb]
      filter :redcarpet, {
        :options => { :tables => true, :fenced_code_blocks => true, :gh_blockcode => true },
        :renderer => TitleAnchoredHTML,
        :renderer_options => { :with_toc_data => true}
      }
      filter :colorize_syntax, :default_colorizer => :pygmentsrb
      layout 'application'
    when 'scss'
      # filter :erb
      # filter :sass, syntax: :scss #, Compass.sass_engine_options.merge!(:style => :expanded, :syntax => :scss)
      filter :sprockets, css_compressor: :scss
    when 'coffee'
      filter :coffeescript
    when 'haml'
      filter :haml, :format => :html5
      layout 'application'
    when 'xml'
      filter :erb
    when 'js', 'txt', 'json', 'css'
      item.identifier.chop + '.' + item[:extension]
    else
      raise "Unknown filetype #{item[:extension]}"
    end
  end
end

route '*' do
  if item.binary?
    item.identifier.chop + '.' + item[:extension]
  else
    ext = item[:extension].nil? ? nil : item[:extension].split('.').last
    case ext
    when 'scss'
      item.identifier.chop + '.css'
    when 'coffee'
      item.identifier.chop + '.js'
    when 'js', 'txt', 'json', 'css', 'xml'
      item.identifier.chop + '.' + item[:extension]
    else
      item.identifier + 'index.html'
    end
  end
end

layout '/application/', :haml, :format => :html5, :encoding => 'utf-8'
layout '/sidebar/', :haml, encoding: 'utf-8'
layout '*', :erb
