!!!
%html
  %head
    %title #{@title} Docs
    %link{:href => 'favicon.ico', :rel => "shortcut icon"}
    <link rel='stylesheet' href='/stylesheets/docs.css' type='text/css' media="screen, projection">
  %body
    %header#header
      #header_image
        :plain
          <a href="http://cloudmailin.com">
            <img alt="cloudmailin logo, incoming email for your web app" src="/images/logo.png">
          </a>
    
    #middle
      #container
        #sidebar
          %ul
            - @docs.each do |title, location|
              %li
                %a{:href => location}= title
          
        #content
          -# needs to be ugly so that its not indented by haml
          :plain
            #{@body}
    
    %footer#footer
      #details
        &copy; cloudmailin.com