@import 'screen'

h2
  font-size: 16px
  margin: 0px

#sidebar
  +column(8)
  
  ul
    list-style: none
    
    li
      list-style-image: none
      list-style-type: none
      margin-left: 0px

#content
  +column(16, true)
  