$brand-primary: #4d7ABA !default;
// $brand-primary: #ff6600 !default;

$navbar-height: 35px;
$navbar-default-bg: $brand-primary;

$navbar-default-color: #fff;
$navbar-default-link-color: #fff;
$navbar-default-link-hover-color: #fff;
$navbar-default-link-active-color: #fff;
$navbar-default-brand-hover-color: #fff;

$pre-bg: mix(lighten($brand-primary, 25), #fff, 5);
$table-head-bg: mix(darken($brand-primary, 25), #fff, 6);
$table-bg-accent: $pre-bg;

@import "bootstrap-sprockets";
@import "bootstrap";

body {
  background-color: $brand-primary;
  // font-size: 1.2rem;
  line-height: 1.8em;
}

p {
  margin-top: 0.5em;
  margin-bottom: 1em;
}

a {
  color: #0066cc;
}

a.deprecated {
  color: mix(#0066cc, #aaa, 20%);

  &::after {
    content: ' (deprecated)';
    // color: #999;
  }
}

h1 {
  margin-bottom: 0.5em;
}

h3, h4 {
  color: #666;
}

nav {
  @extend .navbar;
  @extend .navbar-default;
  box-shadow: 0px 1px 0px lighten($navbar-default-bg, 8);

  border: 0px;
  border-radius: 0px;
  padding-right: 10px;
  margin-bottom: 0px;

  #nav-content {
    @extend .container;
  }

  header {
    @extend .navbar-header;
    width: inherit;

    #header_image {
      @extend .navbar-brand;
      padding-top: 4px;
      padding-left: 30px;
    }

    @media (max-width: $screen-sm-min) {
      #header_image {
        line-height: 40px;
      }
    }
  }

  ul.home-nav {
    @extend .nav;
    @extend .navbar-nav;
    padding-top: 2px;
  }
}

#middle {
  background-color: #fff;
  padding-top: 20px;
  padding-bottom: 20px;
}

#container {
  @extend .container;
  background-color: #fff;
  // min-height: 80%;
}

#sidebar {
  @extend .col-md-4;
  @extend .col-md-pull-8;

  @media (min-width: $screen-md-min) {
    background: url('/assets/images/divider.png') no-repeat 80% 0%;
  }

  ul {
    // @extend .list-unstyled;
    padding-left: 0;
    list-style: none;

    li {
      font-weight: bold;
      padding-top: 10px;
      padding-bottom: 5px;

      ul {
        padding-left: 10px;
        padding-top: 10px;
        list-style-type: none;

        li {
          padding-top: 0px;
          font-weight: normal;

          ul {
            padding-top: 5px;
          }
        }
      }
    }
  }

  // mobiles / smaller screen sidebar links
  @media (max-width: $screen-md-min) {
    ul li {
      padding-top: 20px;

      ul li {
        padding-top: 20px;
      }
    }
  }
}

.documentation_content {
  @extend .col-md-8;
  @extend .col-md-push-4;

  img {
    max-width: 100%;
    border: 1px solid $pre-border-color;
    margin: 0px;
    padding: 10px;
  }
}

#footer {
  margin-top: 20px;
  padding-bottom: 20px;

  #details {
    color: #fff;
    @extend .container;
  }
}

table {
  @extend .table;
  @extend .table-bordered;
  @extend .table-striped;

  thead {
    background-color: $table-head-bg;
  }
}

.language_list {
  background-color: $table-head-bg;
  border: 1px solid $pre-border-color;
  margin: 0px;
  padding: 5px;

  .languages {
    @extend .list-inline;
    margin: 0px;
    padding: 0px;

    a {
      margin-right: 10px;
    }
  }
}

pre {
  border-radius: 0;
  max-height: 300px;
  overflow: auto;
  // background-color: #f8f8f8;
  background-color: #fff;

  code {
    white-space: pre;
  }
}

blockquote {
  font-size: inherit;
  @extend .alert;
  @extend .alert-info;

  p {
    margin: 0px;
  }
}

#comments {
  margin-top: 100px;
}

.info {
  @extend .alert;
  @extend .alert-info;
}

.warning {
  @extend .alert;
  @extend .alert-warning;
}

#faqs {
  h3 {
    color: #000;
    font-size: 16px;
    font-weight: bold;
  }
}
